<md-card class="picture-container" ng-controller="MainController" md-theme="{{ theme ? 'dark-orange' : 'default' }}" md-theme-watch>

    <img src="{{ picture.url }}" alt="{{ picture.title }}">

    <md-card-title>
        <md-card-title-text>
            <md-headline class="picture-title">
                {{ picture.title }}
                <md-tooltip md-direction="top" md-delay="500">{{ picture.title }}</md-tooltip>
            </md-headline>
            <md-subhead class="picture-date">{{ picture.uploadDate | slice:' ':0 }}</md-subhead>
        </md-card-title-text>
    </md-card-title>


    <md-card-actions class="card-action" layout="row" layout-align="space-between end">
        <md-button ng-click="deletePicture(picture.id)">
            <span class="btn-delete">Delete</span>
        </md-button>
        <md-button ng-click="getResult(picture.id)"> Open</md-button>
    </md-card-actions>
</md-card>
