<md-card ng-controller="MainController">
    <img src="{{ picture.url }}" alt="{{ picture.title }}">
    <md-card-content>
        <h2>{{ picture.title }}</h2>
        <p>{{ picture.uploadDate }}</p>
    </md-card-content>
    <md-card-actions layout="row" >
        <md-button layout-align="start center" ng-click="deletePicture(picture.id)">
            Delete
        </md-button>
        <md-button layout-align="end center" ng-click="getResult(picture.id)">
            Open
        </md-button>
    </md-card-actions>
</md-card>
