<div class="settings" ng-controller="SettingController">
    <form name="myForm">

        <table class="settings-table">
            <tr>
                <th><label for="currentPassword">Current password:</label></th>
                <th><input type="password" id="currentPassword" name="currentPassword" ng-model="currentPassword" ng-required /></th>
            </tr>

            <tr>
                <td><label for="newPassword1">Set a new password:</label></td>
                <td><input type="password" id="newPassword1" name="newPassword1" ng-model="newPassword1" ng-required /></td>
            </tr>

            <tr>
                <td><label for="newPassword2">Confirm the password:</label></td>
                <td><input type="password" id="newPassword2" name="newPassword2" ng-model="newPassword2" ng-required pw-check="newPassword1" /></td>
            </tr>

            <tr>
                <td>
                    <div class="confirm-button">
                      <button class="btn btn-info btn-block" ng-disabled="!(newPassword1 == newPassword2)" ng-click="changePassword(currentPassword,newPassword1)">Confirm</button>
                    </div>
                </td>
            </tr>

            <tr>
                <td><div class="validate" ng-show="!(newPassword1 == newPassword2)">Passwords don't match.</div></td>
            </tr>
        </table>

    </form>
</div>
