<div id="login-overlay" class="modal-dialog" ng-controller="LoginController">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Login to AR Scanner</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="well">
                        <form name="loginForm" id="loginForm" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && loginForm.email.$touched}">
                                <label for="email" class="control-label">Username</label>
                                <input type="email" class="form-control" id="email" name="email" ng-model="user.email" required title="Please enter you username" placeholder="example@gmail.com">
                                <p id="emailErrorMsg" ng-show="loginForm.email.$invalid && loginForm.email.$touched" class="help-block">Enter a valid email.</p>
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group" show-errors>
                                <label for="password" class="control-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" ng-model="user.password" required title="Please enter your password">
                                <span class="help-block"></span>
                            </div>
                            <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                            <!--div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember" id="remember"> Remember login
                                </label>
                                <p class="help-block">(if this is a private computer)</p>
                            </div-->
                            <button class="btn btn-success btn-block" ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>
                            <button class="btn btn-default btn-block" ng-click="reset()">Forgot password?</button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-6">
                    <p class="lead">Register now for <span class="text-success">FREE</span></p>
                    <ul class="list-unstyled" style="line-height: 2">
                        <li><span class="glyphicon glyphicon-ok text-success"></span> Save all your items</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span> Browse from your Scans</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span> Share your favorites</li>
                        <li><a href="/SpringBoot/#!/login/"><u>Read more</u></a></li>
                    </ul>
                    <p><a href="/SpringBoot/#!/login/" class="btn btn-info btn-block">Register now!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>