#emailErrorMsg {
    font-size: small;
    padding-left: 2%;
}

#banner {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    height: 250px;
}

#promo {
    vertical-align: middle;
}

#registerForm {
    min-width: 300px;
}

#login-overlay {
    padding-top: 10%;
    min-height: 370px;
    min-width: 600px;
}

.dark-primary-color {
    background: #AFB42B;
}

.default-primary-color {
    background: #CDDC39;
}

.light-primary-color {
    background: #F0F4C3;
}

.text-primary-color {
    color: #212121;
}

.accent-color {
    background: #448AFF;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}

.glyphicon-ok {
    padding-left: 20px;
}

.pictureTitle {
    vertical-align: middle;
    font-size: larger;
    font-weight: bolder;
}

.card-media {
    background-color: whitesmoke;
}

.mainPage {
    max-width: 90%;
    margin: auto;
    background-color: whitesmoke;
}

.card-action {
    alignment: center;
    max-height: 25px;
    margin-bottom: 5%;
}

.btn-delete {
    color: darkred;
}

.picture-date {
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.picture-title {
    padding: 5px 5px 5px 5px;
    white-space: nowrap;
    width: 8em;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.picture-card-content {
    height: 75px;
    width: auto;
    text-overflow: ellipsis;
}

.left-container {
    margin-left: 20px;
}

.md-padding {
    background-color: whitesmoke;
}

.gallery-container {
    margin: 0% 2% 0% 2%;
    height: 500px;
    overflow-scrolling: auto;
}

